body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
  }
  
  header img {
    max-height: 50px;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .home-link {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .buscador {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .buscador input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  
  .seccion-formulario {
    padding: 20px;
    background: #f9f9f9;
  }
  
  .seccion-galeria {
    padding: 20px;
    
  }
  
  .galeria-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .tarjeta {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .tarjeta img {
    width: 100%;
    height: 50%;
  }
  
  .tarjeta-contenido {
    padding: 15px;
  }
  
  .tarjeta-botones {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .slider_container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
}
  
.slider {
  display: flex;
  height: 500px;
  transition: transform 0.5s ease-in-out;
  animation: sliding 15s infinite;
}

.slide_img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

  footer {
    grid-area: footer;
    padding: 1rem;
    text-align: center;
    background: #333;
    color: #fff;
    
  }
  
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  footer .logo {
    width: 32px;
    height: 32px;
  }
  